<div id="comment">

	<div class="comment-user">
	</div>
  	<div class="comment-content">
  		<%= comment.content %>
  	</div>
  	<div class="comment-menu">
		<%= render :partial => 'comments/replycomment', :locals => {:parent => comment.id} %>
  	</div>
  	<blockquote>
		<%= render :partial => 'comments/comment', :collection => comment.children %>
	</blockquote>
</div>
