body {
	background-color: #e7e7e7;
	font-family: "Lucida Grande", Arial, sans-serif;
}

p {
	margin-top: 0;	

}

a {
	color: #887799;
	text-decoration: none;
}

a:hover {
	color: #cccccc;
}

h1, h2, h3, h4 {
	font-family: "Lucida Grande", Arial, sans-serif;
	margin: 0;
}

#wrapper {
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 0px;
	width: 950px;
}

.mini-menu {
	background-color: #e7e7e7;
	float: right;
}

.mini-menu ul {
	text-align: right;
	padding: 0;
	margin: 0;
	list-style: none;
	
}

.mini-menu li {
	display: inline;
	margin-right: 10px;
}

.login-header {
	font-size: 10px;
}
.login-header input.button {
	width: 34px;
}
.login-header input {
	font-size: 10px;
	height: 10px;
	width: 80px;
}

.header {
	height: 120px;
	background-color: #ffffff;
	margin-bottom: 10px;
}

.header h1 {
	font-size: 80pt;
}

.main {
	font-family: Georgia, serif;  
	font-size: 15px;
	width: 750px;
	float: right;
	padding: 8px;
	background-color: #ffffff;
	border: 1px solid;
	border-color: #cccccc;
}

.sidebar {
	width: 160px;
	float: left;
	padding: 5px;
	border: 1px solid;
	border-color: #cccccc;
	background-color: #ffffff;

}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer {
	text-align:left;
	color: #999999;
	width: 760px;
	float: right;
	margin-top:10px;
	

}

table {
	clear: both;
	width: auto;
	
}

.clear {
	clear:both;
}